@model mertaksublogg.Models.makale

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Home/Index/" target="_blank">Blog</a>
        </li>
        <li class="breadcrumb-item active">Hayatta en hakiki mürşit, ilimdir. <br />/ &nbsp;Mustafa Kemal Atatürk</li>
       

    </ol>
    
   
</div>